@keyframes rotatecw {
  from {
    opacity: 0.85;
    transform: rotate(0deg) scale(1.5,1.5);
  }
  to {
    opacity: 0.85;
    transform: rotate(360deg) scale(1.5,1.5);
  }
}
@keyframes rotateccw {
  from {
    transform: rotate(360deg) scale(-1.25,1.25);
  }
  to {
    transform: rotate(0deg) scale(-1.25,1.25);
  }
}

img.voida {
    position: absolute;
    top: -55%;
    left: -50%;
    z-index: -50;
    animation: rotatecw 60s infinite linear;
}
img.voidb {
    position: absolute;
    top: -55%;
    left: -50%;
    z-index: -50;
    animation: rotateccw 30s infinite linear;
}
h1{
  font-size: 72pt;
}
